.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.player {
  text-align: center;
  background: rgba(255, 255, 255, 0.341);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
 
  
  
}






.song-info {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: large;
}

.album-art {
  margin-bottom: 20px;

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
    animation: rotate 3s linear infinite paused;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .control-icon {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
}

.volume {
  display: flex;
  align-items: center;

  .volume-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  input {
    width: 100px;
  }
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



@keyframes gradientAnimation {
  0% {
    background-color: #3498db;
  }
  50% {
    background-color: #2ecc71;
  }
  100% {
    background-color: #9b59b6;
  }
}

.change-video-button {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  animation: gradientAnimation 4s infinite;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
}

.change-video-button:hover {

  background: rgb(245,9,32);
background: linear-gradient(90deg, rgba(245,9,32,0.5550595238095238) 7%, rgba(228,220,221,0.2777485994397759) 100%);

}






.header {
  

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #00ffcc;
  font-size: 36px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 5px rgba(1, 37, 30, 0.885);
}

.linkedin-logo {
  width: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  filter: drop-shadow(2px 2px 5px rgba(0, 255, 204, 0.5));
  background: rgba(255, 255, 255, 0.152);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.linkedin-logo:hover {
  transform: scale(1.2);
}

input[type="range"] {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.time-display {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  color: #060000;
}

.time-display span {
  font-size: 12px;
}
